.card-table {
  margin: auto;
  max-width: 400px;
}

.card {
  margin-left: 9%;
  margin-right: 9%;
}

.card:hover {
  text-decoration: underline;
  cursor: pointer;
}

.red {
  color: red;
}

.black {
  color: black;
}

table {
  font-size: 18px;
}
