<h1 class=text-center>Card Calculator</h1>
<div class="card-table">
  <table class="table">
    <tr ng-repeat="card in cards">
      <td>
        <span tooltip-placement="left" uib-tooltip="{{card.count / cardsLeft | number: 2}}">{{card.card}}</span>
      </td>
      <td>
        <span class="card black" ng-show="card.suits.clubs" ng-click="reduceCount(card.card, 'clubs')">&clubs;</span>
        <span class="card red" ng-show="card.suits.diamonds" ng-click="reduceCount(card.card, 'diamonds')">&diams;</span>
        <span class="card black"ng-show="card.suits.spades" ng-click="reduceCount(card.card, 'spades')">&spades;</span>
        <span class="card red" ng-show="card.suits.hearts" ng-click="reduceCount(card.card, 'hearts')">&hearts;</span>
      </td>
    </tr>
  </table>
  <p>Cards left: {{cardsLeft}}</p>
  <p>General probability: {{1 / cardsLeft | number: 2}}</p>
</div>
